
@media screen and (min-width: 800px){

svg{
    width: calc(14.5vh * 4);
    height: calc(97vh / 4);
}

.fullHex{
    height: 49vh;
    margin-top: 1vh;
}

    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100vw;
        
        height: calc(97vh / 4);
        .top{
            margin-top: 1vh;
        }

        
        nav{
            margin: 0 -13vh 0 -13vh;
        }

    }

    .container{
  

        .row{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100vw;
            height: calc(97vh / 4);

            .drawing, .center{
                width: calc(14.5vh * 4);
                margin: 1vh -13vh 0 -13vh;
                z-index: -1;
            }

            .center{
                z-index: -2;
            }

            .right{
                // border-top: 2px solid #4ba2b2;
                // box-shadow: 0px -10px 0px 0px #4ba2b2;
                margin: -1px 0 0 0;
            }

        }

        .r1{
            .halfHex{
                margin-top: 1vh;
            }
        }
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100vw;
        height: calc(97vh / 4);

        margin-top: 3vh;
    }

}