
@media screen and (min-width: 800px){

svg{
    width: calc(14.5vh * 4);
    height: calc(97vh / 4);
}

.fullHex{
    height: 49vh;
    margin-top: 2vh;
}

.wrap{
    width: 145vh;
    height: 100vh;
    margin-left: calc((100vw - 145vh)/2);

    display: inline-grid;
    
    grid-template-rows: repeat(8,12.5vh);
    grid-template-columns: repeat(10, 14.5vh);
}

header{
    display: contents;
}

.logo{
    grid-row: 0;
    grid-column: 1;
}

nav{
    grid-row: 0;
    grid-column: 4;
}

.fill{
    grid-column: 7;
}
// .ptext{
//     font-size: 3vh;
//     width: 20%;
// }

//     header{
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         width: 100vw;
        
//         height: calc(97vh / 4);
//         .top{
//             margin-top: 1vh;
//         }

        
//         nav{
//             margin: 0 -13vh 0 -13vh;
//         }

//     }

//     .container{
  

//         .row{
//             display: flex;
//             flex-direction: row;
//             justify-content: center;
//             width: 100vw;
//             height: calc(97vh / 4);

//             .drawing, .center{
//                 width: calc(14.5vh * 4);
//                 margin: 1vh -13vh 0 -13vh;
//                 z-index: -1;
//             }

//             .center{
//                 z-index: -2;
//             }

//             .right{
//                 // border-top: 2px solid #4ba2b2;
//                 // box-shadow: 0px -10px 0px 0px #4ba2b2;
//                 margin: -2vh 0 0 0;
//             }

//         }

//         .r1{
//             .halfHex{
//                 margin-top: 1vh;
//             }
//         }
//     }

//     footer{
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         width: 100vw;
//         height: calc(97vh / 4);

//         margin-top: 3vh;
//     }

    
}