$drawing-blue: #6eb5c2;
$drawing-yellow: #fbf8e5;

#generator{
    font-size: 7.5pt;
}

@media screen and (min-width: 550px){
    .fullHex.left{
        grid-row: 5;
        grid-column: 1;
    }

    .fullHex.center{
        grid-row: 3;
        grid-column: 4;
    }

    .fullHex.right{
        grid-row: 5;
        grid-column: 7;
    }

    .projHex:hover .titleHex{
        fill: #5cacbb;
    }
    .rTwo.left{
        grid-row: 3;
        grid-column: 1;
    }
    
    .rTwo.right{
        grid-row: 3;
        grid-column: 7;
    }

}
