$drawing-blue: #6eb5c2;
$drawing-yellow: #fbf8e5;

body{
    font-family: 'Public Sans', sans-serif;
    background-color: $drawing-blue;
  }

header{
    background-color: $drawing-blue;
    
    h1{
        padding: 10% 0;
        text-align: center;

        a{
            font-size: 24pt;
            color: $drawing-yellow;
            font-weight: bolder;
            letter-spacing: 2px;
        }
    }

    nav{
        background-color: $drawing-blue;
        margin-top: 1%;
    }
}

svg{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    polygon{
        width: calc(100% / 3);
    }
}

.navText{
    font-size: 6px;
    font-weight: bolder;
    fill: darken($color: $drawing-blue, $amount: 15);
}

.current{
    fill: $drawing-yellow;
}

a{
    text-decoration: none;
    color: $drawing-yellow;
}

.bottom{
    background-color: $drawing-blue;
    .botText{
        font-size: 9pt;
        fill: $drawing-yellow;
    }
}

.drawing{
    max-width: 100%;
    background-color: $drawing-blue;

    img{
        max-width: 100%;
    }
 }

.footText{
    fill: $drawing-yellow;
    font-size: 15pt;
}

