$drawing-blue: #6eb5c2;
$drawing-yellow: #fbf8e5;

body{
    font-family: 'Public Sans', sans-serif;
    background-color: $drawing-blue;
  }

header{
    background-color: $drawing-blue;
    
    h1{
        padding: 10% 0;
        text-align: center;

        a{
            font-size: 24pt;
            color: $drawing-yellow;
            font-weight: bolder;
            letter-spacing: 2px;
        }
    }

    nav{
        background-color: $drawing-blue;
        margin-top: 1%;
    }
}

svg{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    polygon{
        width: calc(100% / 3);
    }
}

.navText{
    font-size: 6px;
    font-weight: bolder;
    fill: darken($color: $drawing-blue, $amount: 15);
}

.current{
    fill: $drawing-yellow;
}

a{
    text-decoration: none;
    color: $drawing-yellow;
}

.top{
    background-color: $drawing-blue;
    .botText{
        font-size: 9pt;
        fill: darken($color: $drawing-blue, $amount: 20);
    }
}

.drawing{
    max-width: 100%;
    background-color: $drawing-blue;
    margin-top: 1%;

    img{
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
 }

.container{
    position: relative;
}

.content{
    margin: 1% 0;
}

p{
    color: darken($color: $drawing-blue, $amount: 35);
    font-weight: bold;
    line-height: 1.4;
    font-size: 6vw;
    text-shadow: 1px 1px $drawing-yellow, -1px 1px $drawing-yellow;
    -webkit-shape-inside: polygon(75.778px 272.829px, 1.555px 144.271px, 75.778px 15.713px, 224.222px 15.713px, 298.444px 144.271px, 224.222px 272.829px);
    position: absolute;

    padding: 0 6%;
    text-align: center;
}

p:first-of-type{
    top: 12vw;
}

p:last-of-type{
    top: 98vw;
    padding: 0 9%;
}

.footText{
    fill: $drawing-yellow;
    font-size: 20pt;
}




  

