$drawing-blue: #6eb5c2;
$drawing-yellow: #fbf8e5;

#generator{
    font-size: 7.5pt;
}

.projText{
    fill: $drawing-yellow;

    &:first-of-type{
        font-weight: bold;
    }
}

#weather{
    font-size: 10pt;
}

#dashboard{
    font-size: 9.5pt;
}

#password{
    font-size: 10pt;
}

.gitlink{
    font-size: 8pt;
    font-weight: bold;
}

.repo{
    fill: $drawing-yellow;
}

.page, .info{
    fill: darken($color: $drawing-blue, $amount: 25);
    font-weight: bold;
}

.triLink:hover .repo, .triLink:hover .page{
    fill-opacity: 50%;
}

@media screen and (min-width: 550px){
    .fullHex.left{
        grid-row: 5;
        grid-column: 1;
    }

    .fullHex.center{
        grid-row: 3;
        grid-column: 4;
    }

    .fullHex.right{
        grid-row: 5;
        grid-column: 7;
    }

    .projHex:hover .titleHex{
        fill: #5cacbb;
    }
    .rTwo.left{
        grid-row: 3;
        grid-column: 1;
    }
    
    .rTwo.right{
        grid-row: 3;
        grid-column: 7;
    }

}
